@import "../abstract/variables";

/* FONTS */

h1 {
  font-family: $Bellefair;
  font-size: 150px;
  line-height: 171.9px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: $Bellefair;
  font-size: 100px;
  line-height: 114.6px;
}

h3 {
  font-family: $Bellefair;
  font-size: 56px;
  line-height: 64.18px;
}

h4 {
  font-family: $Bellefair;
  font-size: 32px;
  line-height: 36.67px;
  font-weight: 400;
}

h5 {
  font-family: $Barlow;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: 4.75px;
  font-weight: 400;
  margin: 0;
  color: $sec-color-1;
}

.sub_h1 {
  font-family: $Bellefair;
  font-size: 28px;
  line-height: 32.09px;
}

.sub_h2 {
  font-family: $Barlow;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 2.36px;
}

.nav_text {
  font-family: $Barlow;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.7px;
}

.body_text {
  font-family: $Barlow;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  color: $sec-color-1;
}
