@import "../base/typography";
@import "../abstract/variables";
@import "../abstract/mixins";

.back-crew {
  @include background();
  background-image: url("../../assets/images/crew/background-crew-desktop.jpg");
  h5 {
    margin-bottom: 120px;
    @include h5();
  }
}

.crew {
  @include container();

  margin-right: 9%;

  div {
    h4 {
      color: $sec-color-2;
      opacity: 50%;
      padding-bottom: 15px;
    }
    h3 {
      color: $sec-color-2;
      padding-bottom: 27px;
    }
    p {
      padding-bottom: 120px;
      width: 70%;
      min-height: 250px;
    }
  }
}

.switch {
  display: flex;
  gap: 24px;
  margin-bottom: 78px;

  div {
    width: 15px;
    height: 15px;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
      opacity: 50%;
    }
  }
}

.not-active-crew {
  background-color: $sec-color-2;
  opacity: 17%;
}

.active-crew {
  background-color: $sec-color-2;
  opacity: 100%;
}

.foto {
  align-self: flex-end;
  width: 70%;
  margin-top: -170px;

  img {
    width: 100%;
  }
}

.foto-pilot {
  align-self: flex-end;
  margin-top: -250px;
  width: 110%;
  img {
    width: 100%;
  }
}

.foto-engi {
  align-self: flex-end;
  margin-top: -250px;
  width: 110%;
  img {
    width: 100%;
  }
}
