@import "../base/typography";
@import "../abstract/variables";
@import "../abstract/mixins";

.back-crew {
  @include background();
  background-image: url("../../assets/images/crew/background-crew-desktop.jpg");

  @include tabletBreakPoint() {
    background-image: url("../../assets/images/crew/background-crew-tablet.jpg");
  }
  @include mobileBreakPoint() {
    background-image: url("../../assets/images/crew/background-crew-mobile.jpg");
  }

  h5 {
    margin-bottom: 120px;
    @include h5();

    span {
      font-weight: 700;
    }

    @include tabletBreakPoint() {
      margin-bottom: 60px;
      margin-top: 40px;
      margin-left: 38.5px;
    }

    @include mobileBreakPoint() {
      margin-bottom: 32px;
      margin-top: 24px;
      margin-left: 0px;
      text-align: center;
    }
  }
}

.crew {
  @include container();

  @include tabletBreakPoint() {
    flex-direction: column;
    margin-right: 0%;
    margin-left: 0%;
  }

  margin-right: 9%;

  @include mobileBreakPoint() {
    flex-direction: column-reverse;
  }

  div {
    @include tabletBreakPoint() {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h4 {
      color: $sec-color-2;
      opacity: 50%;
      padding-bottom: 15px;

      @include tabletBreakPoint() {
        padding-bottom: 8px;
      }
    }
    h3 {
      color: $sec-color-2;
      padding-bottom: 27px;

      @include tabletBreakPoint() {
        padding-bottom: 16px;
      }
    }
    p {
      padding-bottom: 120px;
      width: 70%;
      min-height: 250px;

      @include tabletBreakPoint() {
        width: 80%;
        min-height: auto;
        text-align: center;
        padding-bottom: 40px;
      }

      @include mobileBreakPoint() {
        padding-bottom: 107px;
        width: 88%;
      }
    }
  }
}

.switch {
  display: flex;
  gap: 24px;
  margin-bottom: 78px;

  @include tabletBreakPoint() {
    gap: 16px;
    margin-bottom: 40px;
  }
  @include mobileBreakPoint() {
    display: none;
  }

  div {
    width: 15px;
    height: 15px;
    border-radius: 100%;

    @include tabletBreakPoint() {
      width: 10px;
      height: 10px;
    }

    &:hover {
      cursor: pointer;
      opacity: 50%;
    }
  }
}

.switch-mobile {
  display: none;

  @include tabletBreakPoint() {
    display: none;
  }

  @include mobileBreakPoint() {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  div {
    width: 10px;
    height: 10px;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
      opacity: 50%;
    }
  }
}

.not-active-crew {
  background-color: $sec-color-2;
  opacity: 17%;
}

.active-crew {
  background-color: $sec-color-2;
  opacity: 100%;
}

.foto {
  align-self: flex-end;
  width: 70%;
  margin-top: -170px;

  @include tabletBreakPoint() {
    margin-top: 0px;
    align-self: center;
    width: 51%;
    margin-left: 80px;
  }

  @include mobileBreakPoint() {
    margin-top: 0px;
    align-self: center;
    width: 51%;
    margin-left: 30px;
  }

  img {
    width: 100%;
  }
}

.foto-spec {
  align-self: flex-end;
  width: 70%;
  margin-top: -170px;

  @include tabletBreakPoint() {
    margin-top: 0px;
    align-self: center;
    width: 47%;
  }

  img {
    width: 100%;
  }
}

.foto-pilot {
  align-self: flex-end;
  margin-top: -250px;
  width: 110%;

  @include tabletBreakPoint() {
    margin-top: 0px;
    align-self: center;
    width: 59%;
  }

  img {
    width: 100%;
  }
}

.foto-engi {
  align-self: flex-end;
  margin-top: -250px;
  width: 110%;

  @include tabletBreakPoint() {
    margin-top: 0px;
    align-self: center;
    width: 66%;
  }

  img {
    width: 100%;
  }
}

.crew-linie {
  display: none;

  @include tabletBreakPoint() {
    display: none;
  }

  @include mobileBreakPoint() {
    width: 327px;
    height: 1px;
    background: rgba(56, 59, 75, 1);
  }
}
