@import "../abstract/variables";
@import "../base/typography";
@import "../abstract/mixins";

.back-destination {
  @include background();
  @include tabletBreakPoint() {
    background-image: url("../../assets/images/destination/background-destination-tablet.jpg");
  }
  @include mobileBreakPoint() {
    background-image: url("../../assets/images/destination/background-destination-mobile.jpg");
  }
  background-image: url("../../assets/images/destination/background-destination-desktop.jpg");
  display: flex;
  flex-direction: column;

  h5 {
    margin-bottom: 64px;
    @include h5();

    span {
      font-weight: 700;
    }

    @include tabletBreakPoint() {
      margin-bottom: 60px;
      margin-top: 40px;
      margin-left: 38.5px;
    }

    @include mobileBreakPoint() {
      margin-bottom: 32px;
      margin-top: 24px;
      margin-left: 0px;
      text-align: center;
    }
  }
}

.container {
  @include container();
  flex-direction: row;

  @include tabletBreakPoint() {
    flex-direction: column;
    margin-bottom: 62px;
  }

  margin-bottom: 100px;
  margin-right: 11%;

  @include mobileBreakPoint() {
    margin-bottom: 58px;
    margin-right: 24px;
    margin-left: 24px;
  }

  article {
    color: $sec-color-2;

    @include tabletBreakPoint() {
      text-align: center;
    }
  }
}

.planet-container {
  width: 100%;
  max-width: 445px;
  max-height: 445px;

  @include tabletBreakPoint() {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 53px;
  }

  @include mobileBreakPoint() {
    max-width: 170px;
    max-height: 170px;
    margin-bottom: 26px;
  }

  img {
    width: 100%;
    padding-left: 50px;

    @include tabletBreakPoint() {
      padding-left: 0px;
    }
  }
}

.list {
  display: flex;
  gap: 36px;

  @include mobileBreakPoint() {
    gap: 26px;
  }
  color: $sec-color-1;
  p {
    &:hover {
      cursor: pointer;
      @include underline(underline, rgba(255, 255, 255, 0.5), 3px, 12px);

      @include mobileBreakPoint() {
        @include underline(underline, rgba(255, 255, 255, 0.5), 3px, 8px);
      }
    }
  }
}

.active-home {
  color: $sec-color-2;
  @include underline(underline, rgba(255, 255, 255), 3px, 12px);

  @include mobileBreakPoint() {
    @include underline(underline, rgba(255, 255, 255), 3px, 8px);
  }
}

.mini-container {
  display: flex;
  flex-direction: column;
  gap: 37px;
  max-width: 38%;

  @include tabletBreakPoint() {
    max-width: 100%;
    align-items: center;
    gap: 47px;
  }

  @include mobileBreakPoint() {
    gap: 31px;
  }
}

.text {
  border-bottom: 1px solid rgba(56, 59, 75, 1);
  padding-bottom: 54px;

  @include tabletBreakPoint() {
    padding-bottom: 49px;
    padding-top: 8px;
  }

  @include mobileBreakPoint() {
    padding-bottom: 32px;
    padding-top: 1px;
  }
}

.container-down {
  display: flex;
  gap: 79px;

  @include tabletBreakPoint() {
    justify-content: center;
  }

  @include mobileBreakPoint() {
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include tabletBreakPoint() {
      align-items: center;
    }

    p:first-child {
      padding-top: 28px;

      @include mobileBreakPoint() {
        padding-top: 0px;
      }
    }
  }
}

.menu-link {
  h5 {
    margin-bottom: 0;
    margin-top: 0;

    span {
      opacity: 100%;
    }
  }
}
