@import "../abstract/variables";
@import "../base/typography";
@import "../abstract/mixins";

.back-destination {
  @include background();
  background-image: url("../../assets/images/destination/background-destination-desktop.jpg");
  display: flex;
  flex-direction: column;
  h5 {
    margin-bottom: 64px;
    @include h5();
  }
}

.container {
  @include container();

  margin-bottom: 100px;
  margin-right: 11%;

  article {
    color: $sec-color-2;
  }
}

.planet-container {
  width: 100%;
  max-width: 445px;
  max-height: 445px;
  img {
    width: 100%;
    padding-left: 50px;
  }
}

.list {
  display: flex;
  gap: 36px;
  color: $sec-color-1;
  p {
    &:hover {
      cursor: pointer;
      @include underline(underline, rgba(255, 255, 255, 0.5), 3px, 12px);
    }
  }
}

.active-home {
  color: $sec-color-2;
  @include underline(underline, rgba(255, 255, 255), 3px, 12px);
}

.mini-container {
  display: flex;
  flex-direction: column;
  gap: 37px;
  max-width: 38%;
}

.text {
  border-bottom: 1px solid rgba(56, 59, 75, 1);
  padding-bottom: 54px;
}

.container-down {
  display: flex;
  gap: 79px;

  div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p:first-child {
      padding-top: 28px;
    }
  }
}
