@import "../abstract/variables";
@import "../base/typography";
@import "../abstract/mixins";

.back-destination {
  background-image: url("../../assets/images/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  /* padding: 64px 6.3% 64px 10%; */
  margin-top: 76px;
  margin-bottom: 112px;
  margin-left: 165px;
  margin-right: 165px;
  align-items: center;
  justify-content: space-between;
  gap: 157px;

  article {
    color: $sec-color-2;
  }
}

.planet-container {
  display: flex;
  flex-direction: column;

  h5 {
    color: $sec-color-2;
    padding-bottom: 96px;
    span {
      opacity: 25%;
    }
  }
  img {
    padding-left: 50px;
  }
}

.list {
  display: flex;
  gap: 36px;
  color: $sec-color-1;
  p {
    &:hover {
      cursor: pointer;
      @include underline(underline, rgba(255, 255, 255, 0.5), 3px, 12px);
    }
  }
}

.active-home {
  color: $sec-color-2;
  @include underline(underline, rgba(255, 255, 255), 3px, 12px);
}

.mini-container {
  display: flex;
  flex-direction: column;
  margin-top: 104px;
  gap: 37px;
  width: 40%;
}

.text {
  border-bottom: 1px solid rgba(56, 59, 75, 1);
  padding-bottom: 54px;
  min-height: 182px;
}

.container-down {
  display: flex;
  gap: 79px;

  div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p:first-child {
      padding-top: 28px;
    }
  }
}
