.back-technology {
  background-image: url("../../assets/images/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
  height: 100vh;
}
