@import "../abstract/variables";
@import "../base/typography";
@import "../abstract/mixins";

.back-technology {
  @include background();
  background-image: url("../../assets/images/technology/background-technology-desktop.jpg");
  @include tabletBreakPoint() {
    background-image: url("../../assets/images/technology/background-technology-tablet.jpg");
  }
  @include mobileBreakPoint() {
    background-image: url("../../assets/images/technology/background-technology-mobile.jpg");
  }

  h5 {
    margin-bottom: 26px;
    @include h5();

    span {
      font-weight: 700;
    }

    @include tabletBreakPoint() {
      margin-bottom: 60px;
      margin-top: 40px;
      margin-left: 38.5px;
    }

    @include mobileBreakPoint() {
      margin-bottom: 32px;
      margin-top: 24px;
      margin-left: 0px;
      text-align: center;
    }
  }
}

.container-launch {
  @include container();

  @include tabletBreakPoint() {
    flex-direction: column-reverse;
    margin-right: 0%;
    margin-left: 0%;
  }

  @include mobileBreakPoint() {
    padding-bottom: 56px;
  }
}

.descr {
  width: 70%;

  @include tabletBreakPoint() {
    text-align: center;
    width: 60%;
  }

  @include mobileBreakPoint() {
    text-align: center;
    width: 88%;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tabletBreakPoint() {
    flex-direction: row;
    gap: 16px;
    padding-top: 56px;
    padding-bottom: 44px;
  }

  @include mobileBreakPoint() {
    padding-top: 34px;
    padding-bottom: 26px;
  }

  div {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: $base_color;
    color: $sec-color-2;
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

    @include tabletBreakPoint() {
      width: 60px;
      height: 60px;
    }

    @include mobileBreakPoint() {
      width: 40px;
      height: 40px;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }

  div:first-child {
    &:before {
      @include content("1");

      @include tabletBreakPoint() {
        font-size: 24px;
        letter-spacing: 1.5px;
        line-height: 27.5px;
      }

      @include mobileBreakPoint() {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 18.34px;
      }
    }
  }

  .active-circle {
    background-color: $sec-color-2;
    color: $base_color;
  }

  div:nth-child(2) {
    &:before {
      @include content("2");

      @include tabletBreakPoint() {
        font-size: 24px;
        letter-spacing: 1.5px;
        line-height: 27.5px;
      }

      @include mobileBreakPoint() {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 18.34px;
      }
    }
  }
  div:nth-child(3) {
    &:before {
      @include content("3");

      @include tabletBreakPoint() {
        font-size: 24px;
        letter-spacing: 1.5px;
        line-height: 27.5px;
      }

      @include mobileBreakPoint() {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 18.34px;
      }
    }
  }
}

.small-container-left {
  display: flex;
  gap: 10%;
  align-items: center;

  @include tabletBreakPoint() {
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;

    @include tabletBreakPoint() {
      align-items: center;
    }
  }
  p {
    color: $sec-color-1;
    padding-bottom: 11px;

    @include tabletBreakPoint() {
      padding-bottom: 16px;
    }

    @include mobileBreakPoint() {
      padding-bottom: 9px;
    }
  }
  h3 {
    color: $sec-color-2;
    padding-bottom: 17px;

    @include tabletBreakPoint() {
      padding-bottom: 16px;
    }
  }
}

.resp-image-container {
  width: 100%;
  max-width: 500px;
  max-height: 510px;

  @include tabletBreakPoint() {
    max-width: none;
    max-height: none;
  }

  img {
    width: 100%;
  }
}

.menu-link {
  h5 {
    margin-bottom: 0;
    margin-top: 0;

    span {
      opacity: 100%;
    }
  }
}
