@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

//fonts

$Bellefair: "Bellefair", serif;
$Barlow: "Barlow", sans-serif;
$Barlow-Condensed: "Barlow Condensed", sans-serif;

//colors

$base-color: #0b0d17;
$sec-color-1: #d0d6f9;
$sec-color-2: #ffffff;

//screen sizes

$tablet: 820px;
$mobile: 414px;
