@import "../base/typography";
@import "../abstract/variables";
@import "../abstract/mixins";

.nav-container {
  display: flex;
  gap: 9%;
  padding: 38px 11% 38px 8%;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  width: 57%;

  @include tabletBreakPoint() {
    padding: 38px 46px 38px 48px;
    width: 60%;
  }

  @include mobileBreakPoint() {
    display: none;
  }
}

.link {
  color: $sec-color-2;
  text-decoration: none;

  div {
    display: flex;
    gap: 14px;
  }

  span {
    font-weight: 700;

    @include tabletBreakPoint() {
      display: none;
    }
  }

  &:hover {
    @include underline(underline, rgba(255, 255, 255, 0.5), 3px, 38px);
  }
}

.active {
  @include underline(underline, rgba(255, 255, 255), 3px, 38px);
}

.linie {
  @include tabletBreakPoint() {
    display: none;
  }

  @include mobileBreakPoint() {
    display: none;
  }

  background-color: $sec-color-2;
  height: 1px;
  width: 473px;
  opacity: 25%;
  margin-right: -30px;
  margin-left: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  @include tabletBreakPoint() {
    padding-top: 0;
  }

  @include mobileBreakPoint() {
    padding-top: 24px;
  }

  picture {
    margin-left: 55px;

    @include tabletBreakPoint() {
      margin-left: 39px;
    }

    @include mobileBreakPoint() {
      margin-left: 24px;
    }
  }
}

.hamburger {
  display: none;

  @include tabletBreakPoint() {
    display: none;
  }

  @include mobileBreakPoint() {
    display: block;
    margin-right: 24px;
  }
}

.close {
  align-self: flex-end;
  padding-top: 33.95px;
  padding-right: 26.45px;
  padding-bottom: 64.95px;
}
