@import "../base/typography";
@import "../abstract/variables";
@import "../abstract/mixins";

.nav-container {
  display: flex;
  gap: 48px;
  padding: 38px 165px 38px 123px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  width: 57%;
}

.link {
  color: $sec-color-2;
  text-decoration: none;

  div {
    display: flex;
    gap: 14px;
  }

  span {
    font-weight: 700;
  }

  &:hover {
    @include underline(underline, rgba(255, 255, 255, 0.5), 3px, 38px);
  }
}

.active {
  @include underline(underline, rgba(255, 255, 255), 3px, 38px);
}

.linie {
  background-color: $sec-color-2;
  height: 1px;
  width: 473px;
  opacity: 25%;
  margin-right: -30px;
  margin-left: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  img {
    margin-left: 55px;
  }
}
